.containerFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.iconSocialFooter {
  width: 3rem;
  height: 3rem;
}
