* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: GrandCru;
  src: url(./assets/fonts/GrandCru-LightS.otf);
}

@font-face {
  font-family: LHFMastercraft1;
  src: url(./assets/fonts/LHFMastercraft1.otf);
}

@font-face {
  font-family: MasterCraft1Rough;
  src: url(./assets/fonts/LHFMastercraft1Rough.otf);
}

@font-face {
  font-family: LHFMastercraft1Shadow;
  src: url(./assets/fonts/LHFMastercraft1Shadow.otf);
}

@font-face {
  font-family: LHFMastercraft1Spurs;
  src: url(./assets/fonts/LHFMastercraft1Spurs.otf);
}

@font-face {
  font-family: LHFMastercraft2;
  src: url(./assets/fonts/LHFMastercraft2.otf);
}

@font-face {
  font-family: LHFMastercraft2Shadow;
  src: url(./assets/fonts/LHFMastercraft2Shadow.otf);
}

@font-face {
  font-family: LHFMastercraft2Spurs;
  src: url(./assets/fonts/LHFMastercraft2Spurs.otf);
}

.containerGeral {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  /* background-color: aqua; */
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  min-height: 100vh;
  z-index: -50;
}
