* {
  margin: 0;
  padding: 0;
}

:root {
  --var-dark: rgb(40, 40, 40);
  --var-darkTrans: rgb(40, 40, 40, 0.9);
  --var-white: #f8f8f8;
  --var-whiteTrans: rgb(248, 248, 248, 0.9);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
